body {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 0 0 100px;
}

button {
	border: none;
	background-color: #FFF;
}

.buttonsContainer {
	font-size: .8em;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column wrap;
}
.prev {
	order: -2;
}
.next {
	order: -1;
}

#student-info {
	min-height: 3em;
}

.current-person {
	background-color: blue;
}

.buttonsContainer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100px;
}

button {
	outline: none;
	width: 100%;
}